* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(242, 242, 242);
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  width: 100vw;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#post-form {
  width: 370px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: hsla(0, 0%, 100%, 0.75);
  z-index: 2;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(54, 54, 54, 0.5);
  border-radius: 5px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: transparent;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #007bff;
}
.title {
  color: white;
  z-index: 2;
  font-size: 3rem;
  margin-bottom: 5rem;
  font-family: "Lobster", cursive;
}
.waves {
  position: fixed;
  z-index: 1;
}
.top {
  top: 0;
}
.bottom {
  top: 0.25rem;
}
.tag {
  background-color: #007bff;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
}
.btn-back {
    background-color: transparent;
    border: none;
    outline: none;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 999;
}
.tags-container {
  display: flex;
  overflow-x: auto;
  padding-block: 0.25rem;
  align-items: center;
  gap: 0.25rem;
}
.btn-delete {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 2px solid white;
  cursor: pointer;
}
.x-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input[type="text"][name="tags"] {
  font-style: italic;
  color: #777;
}
.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  flex: 1;
  border-radius: 25px;
  font-weight: 700;
  padding: 10px 20px;
  font-size: medium;
  cursor: pointer;
}

.btn-cancel {
  background-color: rgba(245, 109, 85, 0.2);
  color: tomato;
  text-decoration: none;
  flex: 1;
  font-weight: 700;
  padding: 10px 20px;
  font-size: medium;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
